<!DOCTYPE html>
<html
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/layout"
        lang="pt-br">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>Cadastro Disciplina</title>
</head>
<body>
<div class="container">
    <a href="/" class="waves-effect waves-light btn"><i class="material-icons left">home</i>Home</a>
    <h1>Cadastro de Disciplina</h1>
    <a href="/listarDisciplinas" class="waves-effect waves-light btn"><i class="material-icons left">view_headline</i>Lista de Disciplinas </a>
    <form class="col s10" method="post">
        <div class="row">
            <div class="input-field col s8">
                Nome: <input type="text" value="" name="nome"/>
            </div>
            <div class="input-field col s4">
                Carga Horária: <input type="number" value="" name="cargaHoraria"/>

            </div>
        </div>
        <button class="waves-effect waves-light btn" type="submit">Salvar</button>
    </form>

</div>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>