<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8"></head>

<body>
<header th:fragment="header">
    <nav>
        <div class="nav-wrapper teal darken-3">
            <a href="/"><i class="material-icons left">home</i>Home</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Sass</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">Javascript</a></li>
                <li><a href="#">Mobile</a></li>
            </ul>
            <a href="/logout"><i class="material-icons right">logout</i>Logout</a>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        <li><a href="#">Sass</a></li>
        <li><a href="#">Components</a></li>
        <li><a href="#">Javascript</a></li>
        <li><a href="#">Mobile</a></li>
    </ul>
</header>
</body>
</html>