<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><meta charset="utf-8"></head>
</head>
<body>
<div id="modal1" class="modal" th:fragment="modal" >
    <div class="modal-content">
        <h4 class="card-panel red lighten-1 white-text text-lighten-1">Exclusão de Item</h4>
        <p>Tem certeza que deseja excluir o registro </p>


    </div>
    <div class="modal-footer">
        <a id="btn_excluir" class="modal-close waves-effect waves-red btn red">Excluir</a>
        <a href="#!" class="modal-close waves-effect waves-light btn white black-text text-darken-4">Cancelar</a>
    </div>
</div>
</body>
</html>