<!DOCTYPE html>
<html layout:decorate="~{ layout }">
<head>

    <meta charset="UTF-8">

</head>
<body>

<section layout:fragment="main">

<h2>Sistema de Gerenciamento Docente</h2>

    <p>Este é o sistema para organização e atribuição de disciplinas a professores</p>
    <p>Faz parte do meu <a href="https://github.com/rbkrebs">Portfólio</a></p>
    <p>Fique à vontade para testar e me enviar <em>feedbacks</em></p>


<a href="/cadastrarProfessor" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Professor </a>
<a href="/disciplina/cadastrarDisciplina" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Disciplina </a>
</section>

</body>
</html>

