<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/Layout"
      lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../materialize/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../materialize/css/style.css">
    <link type="text/css" rel="stylesheet" href="../css/my_style.css">
    <link href="../fontawesome/css/all.css" rel="stylesheet">
    <link href="../fontawesome/css/fontawesome.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>VVS Project</title>
</head>
<body>
<header th:replace="fragments/header :: header ">

</header>

<main>
    <div class="container my-container">
        <section layout:fragment="main">

        </section>
    </div>
</main>

<footer th:replace="fragments/footer:: footer ">

</footer>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../materialize/js/materialize.min.js"></script>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/jquery-mask-plugin/1.14.15/src/jquery.mask.js"></script>


<script type="text/javascript">
    var elems = document.querySelectorAll('.modal');
    var url = "";

    $('a[id*="btn_delete_"]').click(function(){

        url = '/professor/professor_delete'+$(this).attr('id').split("_")[2];

        M.Modal.init(elems, {});


    })
    $('a[id*="btn_excluir"]').click(function (){
        document.location.href = url;
    });







</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {});
        var select = document.querySelectorAll('select');
        var select_instances = M.FormSelect.init(select, {});
    });
</script>
</body>
</html>